// Color Palette
$beige: #ece5d5;
// $beige: #cde4d2;
// $beige: #e2e3e5;
// $green: #768969;

$black-light: #979797;
$black: #333333;
$black-dark: #212121;
$white: #f5f5f5;

// Fonts
$font-sans: 'Inter', sans-serif;
$font-mono: 'JetBrains Mono', monospace;

// $font-stack: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
//   'Droid Sans', 'Helvetica Neue', sans-serif;
