// Color Palette
$primary: #9798c6;
$secondary: #c1dbfa;

$background: #fff2e7;
$black: #212121;
$white: #ffffff;

// Fonts
$font-heading: 'Corben', Georgia, serif;
$font-sans: 'Manrope', Arial, sans-serif;
$font-mono: 'JetBrains Mono', 'Courier New', monospace;
