// Colors
// $beige: #ece5d5;
$beige: #e9dbd2;
// $green: #768969;
$green: #333333;
$black: #333333;

// Font
$font-sans: 'Inter', sans-serif;
$font-mono: 'JetBrains Mono', monospace;

// $font-stack: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
//   'Droid Sans', 'Helvetica Neue', sans-serif;
