@use './variables';

.aboutSection {
  max-width: 75rem;
  padding: 3rem 0;

  @media only screen and (max-width: 112.5em) {
    // max: 1800
    max-width: 70rem;
  }

  @media only screen and (max-width: 75em) {
    // max: 1200
    max-width: 100%;
    padding: 3rem 5rem;
  }

  @media only screen and (max-width: 37.5em) {
    // max: 600
    padding: 3rem 1.5rem;
  }

  h2 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid variables.$black;
    margin-bottom: 2.5rem;
  }

  h6 {
    margin-bottom: 0.3em;
  }

  a:link,
  a:visited {
    font-weight: 700;
  }
}

.aboutRow {
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
  column-gap: 6rem;

  @media only screen and (max-width: 75em) {
    // max: 1200
    column-gap: 4rem;
  }

  @media only screen and (max-width: 56.25em) {
    // max: 900
    display: block;
  }

  .description {
    border-bottom: 1px solid variables.$black;
    padding-bottom: 1.5rem;

    p:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .photo {
    margin: 0 auto;
    width: 90em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 1em;
      left: 1em;
      width: 100%;
      height: 100%;
      background-color: variables.$accent;
      z-index: -1;
    }

    @media only screen and (max-width: 56.25em) {
      // max: 900
      margin-top: 2.5em;
      max-width: 20em;
    }

    @media only screen and (max-width: 37.5em) {
      // max: 600
      max-width: 15em;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      border: 1px solid variables.$black;
    }
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.75em, 1fr));
  flex-wrap: wrap;
  grid-gap: 1em;

  div {
    padding: 1.5rem 0;

    &:not(:last-child) {
      border-right: 1px solid variables.$black;
    }
  }
}
