@use './colors';

.heading {
  margin-bottom: 1rem;
}

.about {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;

  p:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
}

.photo {
  img {
    width: 320px;
    height: auto;
    border-radius: 5px;
  }
}
