@use './variables';

.aboutSection {
  max-width: 75rem;
  padding: 3rem 0;

  @media only screen and (max-width: 112.5em) {
    // max: 1800
    max-width: 75rem;
  }

  @media only screen and (max-width: 75em) {
    // max: 1200
    max-width: 100%;
    padding: 3rem 5rem;
  }

  h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0.3em;

    &::after {
      content: '';
      display: block;
      position: relative;
      top: -5px;
      width: 3.6em;
      height: 1px;
      margin-left: 0.25em;
      background-color: variables.$black-light;
    }
  }

  h6 {
    margin-bottom: 0.3em;
  }

  a:link,
  a:visited {
    font-weight: 700;
  }
}

.aboutRow {
  margin: 0 auto;
  display: flex;
  column-gap: 5rem;

  @media only screen and (max-width: 75em) {
    // max: 1200
    column-gap: 4rem;
  }

  @media only screen and (max-width: 56.25em) {
    // max: 900
    display: block;
  }

  .description {
    margin-bottom: 2.5em;

    p:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .photo {
    margin: 0 auto;
    width: 85em;

    @media only screen and (max-width: 56.25em) {
      // max: 900
      margin-top: 2.5em;
      max-width: 20em;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      box-shadow: 0 0.625em 1.875em -0.95em variables.$black;
    }
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.75em, 1fr));
  flex-wrap: wrap;
  grid-gap: 1em;
}
