@use './colors';

.heading {
  background-color: lightblue;
}

.contactInfo {
  background-color: lightblue;

  p {
    color: colors.$green;
  }

  hr {
    background-color: colors.$green;
    height: 1px;
    border: none;
  }
}

.socialLinks {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));

  ul {
    list-style-type: none;
  }

  a:link,
  a:visited {
    color: colors.$green;
  }
}
