@use './variables';

.contactSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 14rem;
}

.heading {
  // background-color: lightblue;
  grid-column: 1/ 5;
  grid-row: 1 / 2;
}

.contactInfo {
  // background-color: pink;
  grid-column: 3 / 5;
  grid-row: 2 / 3;

  .cta {
    width: 80%;
  }

  hr {
    background-color: variables.$green;
    height: 1px;
    border: none;
    margin: 30px 0;
  }

  .socialLinks {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));

    ul {
      list-style-type: none;
    }
  }
}
