@use './variables';

.contactSection {
  background-color: variables.$black-dark;
  color: variables.$white;

  h1 {
    margin-bottom: 1.5em;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
  padding: 8rem 0;

  @media only screen and (max-width: 112.5em) {
    // max: 1800
    max-width: 70rem;
  }

  @media only screen and (max-width: 75em) {
    // max: 1200
    max-width: 100%;
    padding: 6rem 5rem;
  }

  @media only screen and (max-width: 37.5em) {
    // max: 600
    padding: 4rem 2.5rem;
  }
}

.contactInfo {
  max-width: 35rem;

  .cta {
    width: 80%;

    @media only screen and (max-width: 37.5em) {
      // max: 600
      width: 100%;
    }
  }

  hr {
    background-color: variables.$white;
    height: 1px;
    border: none;
    margin: 2em 0;
  }

  .socialLinks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    row-gap: 2em;

    h6 {
      margin-bottom: 0.8em;
    }

    ul {
      list-style-type: none;
    }

    a:link,
    a:visited {
      color: variables.$white;
      text-transform: uppercase;
    }
  }
}
