@use './variables';

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
  background-color: variables.$beige;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px variables.$font-sans;
  line-height: 1.4;
  color: variables.$black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin: 0 auto;
  // padding: 7rem;
}

h1 {
  font: 9vw variables.$font-mono;
  // font-weight: 500;
  letter-spacing: -5px;
  line-height: 0.8;
}

h2 {
  font: 4.5rem variables.$font-mono;
  font-weight: 700;
  letter-spacing: 1px;
  color: variables.$black;
}

h3 {
  font-size: 2.2rem;
  letter-spacing: 1.1px;
  font-weight: 300;
}

h4 {
  font: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

a:link,
a:visited {
  text-decoration: none;
  color: variables.$black;
  // color: inherit;
}

ul {
  list-style-type: none;
}
