@use './colors';
// $font-stack: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
//   'Droid Sans', 'Helvetica Neue', sans-serif;

// Font Variables
// $sans: 'Inter', sans-serif;
$sans: 'Inter', sans-serif;
$serif: 'Playfair Display', serif;

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
  background-color: colors.$beige;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem $sans;
  color: colors.$black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin: 100px auto;
  max-width: 1000px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font: 2rem $serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: colors.$green;
}

h3 {
  color: colors.$green;
  text-transform: uppercase;
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
