@use './variables';

.header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: variables.$white-light;
  // color: variables.$black;

  h1 {
    font-size: clamp(3.052rem, 10vw, 11rem);
  }
}

.content {
  // border: 1px solid red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 106rem;
  margin: 0 auto;

  @media only screen and (max-width: 112.5em) {
    // max: 1800
    max-width: 100%;
    padding: 0 3rem;
  }

  @media only screen and (max-width: 56.25em) {
    // max: 900
    min-height: 0;
  }

  @media only screen and (max-width: 37.5em) {
    // max: 600
    padding: 0 1rem;
  }

  .textContainer {
    word-spacing: 100vw;

    @media only screen and (max-width: 56.25em) {
      // max: 900
      word-spacing: normal;
    }
  }
}

.row1 {
  // border: 2px solid green;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 56.25em) {
    // max: 900
    flex-direction: column-reverse;
    text-align: center;
  }

  @media only screen and (max-width: 37.5em) {
    // max: 600
    // padding-top: 2rem;
  }

  .textContainer {
    padding-top: 4em;
  }

  .description {
    max-width: 28em;
    margin: 2em 0 0 1em;

    @media only screen and (min-width: 112.5em) {
      // min: 1800
      font-size: 1.1rem;
    }

    @media only screen and (max-width: 56.25em) {
      // max: 900
      margin: 2em auto 0;
    }
  }

  p {
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: lighter;
    word-spacing: 0.5em;
  }
}

.row2 {
  // border: 2px solid green;
  display: flex;
  align-items: flex-end;
  padding: 0 4rem 3rem 0;

  @media only screen and (max-width: 75em) {
    // max: 1200
    padding-right: 0;
  }

  @media only screen and (max-width: 56.25em) {
    // max: 900
    margin-bottom: 0.5rem;
  }

  .role {
    text-align: right;

    @media only screen and (max-width: 56.25em) {
      // max: 900
      display: none;
    }
  }
}

.wave {
  padding-top: 2em;
  // border: 1px solid purple;
  width: 100%;
  overflow: hidden;

  @media only screen and (max-width: 75em) {
    // max: 1200
    padding-top: 0;
  }
}

.wave svg {
  position: relative;
  display: block;
  width: calc(125%);
  height: 11rem;

  @media only screen and (max-width: 75em) {
    // max: 1200
    height: 8rem;
  }

  @media only screen and (max-width: 56.25em) {
    // max: 900
    height: 5rem;
  }

  @media only screen and (max-width: 37.5em) {
    // max: 600
    height: 3rem;
  }
}

.wave .shapeFill {
  fill: variables.$beige;
}
