@use './variables';

.header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid variables.$black;
}

.navbar {
  min-height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;

  @media only screen and (max-width: 56.25em) {
    // max: 900
    margin-right: 0;
    justify-content: space-around;
  }
}

.text {
  // border: 1px solid red;
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100rem;
  margin: 0 auto;

  @media only screen and (max-width: 112.5em) {
    // max: 1800
    max-width: 100%;
    padding: 0 3rem;
  }

  @media only screen and (max-width: 56.25em) {
    // max: 900
    text-align: center;
  }

  @media only screen and (max-width: 37.5em) {
    // max: 600
    padding: 0 1.5rem;
  }
}
