@use './variables';

.navbarSection {
  ul {
    display: flex;
    column-gap: 6rem;

    @media only screen and (max-width: 56.25em) {
      // max: 900
      column-gap: 3rem;
    }
  }

  li {
    font-size: 1.5rem;
    text-align: right;
    text-transform: uppercase;

    @media only screen and (max-width: 75em) {
      // max: 1200
      font-size: 1.25rem;
    }

    @media only screen and (max-width: 37.5em) {
      // max: 600
      font-size: 1rem;
    }
  }

  a:link,
  a:visited {
    color: variables.$black;
    padding-bottom: 5px;
  }
}
