@use './variables';

.navbarSection {
  ul {
    li {
      font-size: 1rem;
      text-align: right;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  a:link,
  a:visited {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
