@use './variables';

.projectsSection {
  max-width: 120rem;
  padding: 3rem 7rem 6rem;

  h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    &::after {
      content: '';
      display: block;
      position: relative;
      top: -5px;
      width: 3.6em;
      height: 1px;
      margin-left: 0.25em;
      background-color: variables.$black-light;
    }
  }

  h4 {
    margin-bottom: 0.3em;
    margin-right: 0.5em;
  }
}

.project {
  &:not(:last-child) {
    margin-bottom: 8rem;
    position: relative;
  }

  .projectContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  .imgContainer {
    grid-column: 1 / 9;
    grid-row: 1 / 2;

    img {
      width: 100%;
      height: auto;
      box-shadow: 0 0.625em 1.875em -0.95em variables.$black;
    }
  }

  .projectInfo {
    background-color: variables.$white-light;
    box-shadow: 0 0.625em 1.875em -0.95em variables.$black;
    border-radius: 1rem;
    padding: 1.5em 2em;
    grid-column: 7 / 13;
    grid-row: 1 / 2;
  }

  .description p {
    margin-bottom: 1em;
  }

  .tech {
    margin-bottom: 1em;
    font-style: italic;
  }

  a:link,
  a:visited {
    font-weight: 700;
  }
}
