@use './variables';

.projectsSection {
  max-width: 75rem;
  padding: 5rem 0 8rem;

  @media only screen and (max-width: 112.5em) {
    // max: 1800
    max-width: 70rem;
  }

  @media only screen and (max-width: 75em) {
    // max: 1200
    max-width: 100%;
    padding: 3rem 5rem 6rem;
  }

  h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    &::after {
      content: '';
      display: block;
      position: relative;
      top: -5px;
      width: 3.6em;
      height: 1px;
      margin-left: 0.25em;
      background-color: variables.$black-light;
    }
  }

  h4 {
    margin-bottom: 0.3em;
    margin-right: 0.5em;
  }
}

.project {
  &:not(:last-child) {
    margin-bottom: 7rem;

    @media only screen and (max-width: 75em) {
      // max: 1200
      margin-bottom: 5rem;
    }
  }

  .projectContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

    @media only screen and (max-width: 75em) {
      // max: 1200
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
    }
  }

  .imgContainer {
    grid-column: 1 / 9;
    grid-row: 1 / 2;

    @media only screen and (max-width: 75em) {
      // max: 1200
      margin-bottom: 0.5rem;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      box-shadow: 0 0.625em 1.875em -0.95em variables.$black;
    }
  }

  .projectInfo {
    background-color: variables.$white-light;
    box-shadow: 0 0.625em 1.875em -0.95em variables.$black;
    border-radius: 0.5rem;
    padding: 1.5em 2em;
    grid-column: 7 / 13;
    grid-row: 1 / 2;
  }

  .description p {
    margin-bottom: 1em;
  }

  .tech {
    margin-bottom: 1em;
    font-style: italic;
  }

  a:link,
  a:visited {
    font-weight: 700;
  }
}
